<header aria-label="Site header" class="header" id="header" role="banner">
    {% if page.top_header %}
      <div class="top-header">
        {{ page.top_header }}
      </div>
    {% endif %}
    {% if page.header %}
      <div class="main-header {% if is_front %} front-page {% endif %}">
        {{ page.header }}
      </div>
    {% endif %}
</header>
<section class="main" id="main">
  {% if page.highlight %}
  <div class="highlight_container">
    {{ page.highlight }}
  </div>
  {% endif %}

  {% if page.about %}
  <div class="highlight_about">
    {{ page.about }}
  </div>
  {% endif %}

  {% if page.services %}
  <div class="highlight_services">
    {{ page.services }}
  </div>
  {% endif %}

  {% if page.content %}
   <main aria-label="Site main content" class="content main-content_container" id="page-content" role="main">
     {{ page.content }}
   </main>
   {% endif %}
</section>
<footer aria-label="Site footer" class="footer" id="footer" role="contentinfo">
   <div class="footer_container" >
    {% if page.footer_logo %}
    <div class="footer-logo">
       <a href="http://www.takeda.com/">{{ page.footer_logo }}</a>
    </div>
    {% endif %}
    <div class="footer-content">
    {% if page.footer_menu %}
      <div class="footer-menu">
       {{ page.footer_menu }}
      </div>
      {% endif %}
      {% if page.footer_content %}
      <div class="footer-detail">
       {{ page.footer_content }}
       </div>
       {% endif %}
    </div>
   </div>
</footer>
{% if page.sticky-bar %}
<section class="sticky-bar" style="position: fixed; top: 100%;">
    <div class="sticky-bar_container">
      {{ page.sticky_bar }}
    </div>
</section>
{% endif %}
