<header aria-label="Site header" class="header" id="header" role="banner">
    {% if page.top_header %}
      <div class="top-header">
        {{ page.top_header }}
      </div>
    {% endif %}
      <div class="top-menu-header">
        <div class="top-menu-header_container">
          <div class="top-menu-header_sm">FOR U.S. HEALTHCARE PROFESSIONALS</div>
          {% if page.top_menu_left %}
            <div class="top-menu-left">
              {{ page.top_menu_left }}
            </div>
          {% endif %}
          {% if page.top_menu_right %}
            <div class="top-menu-right">
              {{ page.top_menu_right }}
            </div>
          {% endif %}
        </div>
      </div>
    <div class="main-header">
        <div class="main-header_container">
          {% if page.logo_header %}
            <div class="logo-header">
              {{ page.logo_header }}
            </div>
          {% endif %}
          {% if page.main_menu_header %}
            <div class="main-navigation-header {% if is_front %} front-page {% endif %}">
              {{ page.main_menu_header }}
            </div>
          {% endif %}
          <button class="open-menu"><span></span></button>
        </div>
    </div>
</header>
<section class="main" id="main">
  {% if page.highlight %}
  <div class="highlight_container">
    {{ page.highlight }}
  </div>
  {% endif %}

  {% if page.about %}
  <div class="highlight_about">
    {{ page.about }}
  </div>
  {% endif %}

  {% if page.services %}
  <div class="highlight_services">
    {{ page.services }}
  </div>
  {% endif %}

  {% if page.content %}
   <main aria-label="Site main content" class="content main-content_container" id="page-content" role="main">
     {{ page.content }}
   </main>
   {% endif %}
</section>
<footer aria-label="Site footer" class="footer" id="footer" role="contentinfo">
   <div class="footer_container" >
    {% if page.footer_logo %}
    <div class="footer-logo">
       <a href="http://www.takeda.com/">{{ page.footer_logo }}</a>
    </div>
    {% endif %}
    <div class="footer-content">
    {% if page.footer_menu %}
      <div class="footer-menu">
       {{ page.footer_menu }}
      </div>
      {% endif %}
      {% if page.footer_content %}
      <div class="footer-detail">
       {{ page.footer_content }}
       </div>
       {% endif %}
    </div>
   </div>
</footer>
{% if page.sticky_bar %}
<section class="sticky-bar" style="">
    <div class="sticky-bar_container">
      {{ page.sticky_bar }}
    </div>
</section>
{% endif %}
<button class="back-to-top show" tabindex="0">Back to top</button>

<section class="main-menu-mb" style="">
    <div class="main-menu-mb_container">
        <div class="sologan">
        </div>
      <div class="logo-mn">
          <a href="/" class="logo">
          </a>
        <button class="close-menu"><span></span></button>
      </div>
      <div class="menus">
          <div class="menu-list">
            <div class="menu1 lmenu {% if is_front %} front-page {% endif %}"></div>
            <div class="menu2 lmenu"></dic>
          </div>

      </div>
    </div>
</section>

