{{ attach_library('entyviohcp/mechanism-styling') }}
<div data-page-id="MechanismOfAction" data-page-category="MechanismOfAction" class="page-content mechanism-content" >
    <div id="hero">
        <div>
            <picture>
                <source media="screen and (max-width: 959px)" srcset="{{ base_path ~ directory }}/images/hero/mobile-moa-shuya.png">
                    <source media="screen and (max-width: 9999px) and (min-width: 960px)" srcset="{{ base_path ~ directory }}/images/hero/desktop-moa-shuya.png">
                        <img src="{{ base_path ~ directory }}/images/hero/desktop-moa-shuya.png" alt="Patient.">
            </picture>
            <article>
                <div>
                    <h1>
                            Mechanism<br>
                            <strong>of Action</strong>
                        </h1>
                </div>

                <div>
                    <h2>
                            Made for <br>
                            <strong>Selectivity</strong>
                        </h2>
                </div>

                <div class="extra-list">
                    <p>Entyvio specifically binds to the α4β7 integrin and blocks the interaction between the α4β7 integrin and MAdCAM-1, which is mainly expressed on the GI tract endothelial cells.<sup>1-7</sup>
                    </p>
                </div>
            </article>
            <picture>
                <source media="screen and (max-width: 959px)" srcset="{{ base_path ~ directory }}/images/hero/mobile-moa-rhitu.png">
                    <source media="screen and (max-width: 9999px) and (min-width: 960px)" srcset="{{ base_path ~ directory }}/images/hero/desktop-moa-rhitu.png">
                        <img src="{{ base_path ~ directory }}/images/hero/desktop-moa-rhitu.png" alt="Healthcare professional.">
            </picture>

        </div>
    </div>
</div>