{{ attach_library('entyviohcp/articles-for-healthcare-styling') }}
<div class="page-content resources-content" data-page-id="ClinicalReprints" data-page-category="Resources">
                <div id="skip-to-content"></div>


    <div id="hero">
    <div>


            <picture>
                <source media="screen and (max-width: 959px)" srcset="{{ base_path ~ directory }}/images/hero/mobile-resources-patient.png">
                <source media="screen and (max-width: 9999px) and (min-width: 960px)" srcset="{{ base_path ~ directory }}/images/hero/desktop-resources-patient.png">
                <img src="{{ base_path ~ directory }}/images/hero/desktop-resources-patient.png" alt="Patient.">
            </picture>
                <article>
                    <div>
                        <h1>
                            Resources
                        </h1>
                    </div>

                    <div>
                        <h2>Information<br> to Help You<br> and Your Patients</h2>
                    </div>
                </article>
            <picture>
                <source media="screen and (max-width: 959px)" srcset="{{ base_path ~ directory }}/images/hero/mobile-resources-stu.png">
                <source media="screen and (max-width: 9999px) and (min-width: 960px)" srcset="{{ base_path ~ directory }}/images/hero/desktop-resources-stu.png">
                <img src="{{ base_path ~ directory }}/images/hero/desktop-resources-stu.png" alt="Healthcare professional.">
            </picture>



                            </div>
</div>

    <div id="first_section">
        <div id="indication_bar" class="close">
	<div>
		<div class="section">
			<h3>For adult patients with moderately to severely active UC or CD when other therapies have not worked well enough or cannot be&nbsp;tolerated.</h3>
		</div>
	</div>
</div>

        <div class="body-content">
            <article>
                <div class="title-area">
                    <p class="go-back"><a href="{{ base_path }}resources/professional-resources" target="_self">Back to Resources list</a></p>
                    <h2 class="border">Clinical Reprints</h2>
                    <h3>Read about Entyvio in articles from Gut, an International Journal of Gastroenterology and Hepatology, the&nbsp;New England Journal of Medicine, and Alimentary Pharmacology &amp; Therapeutics.</h3>
                    <p>These articles are provided by Takeda for discussion of FDA approved uses.<br> Vedolizumab should be used only according to the accompanying complete prescribing information.</p>
                </div>

                <div class="main-container-blank">
                    <div class="cta">
                        <section>
                            <div class="top">Landmark study</div>
                            <h2>Vedolizumab vs adalimumab for moderate to severe ulcerative colitis—the VARSITY study</h2>
                            <h3>The New England Journal of Medicine</h3>
                            <p>VARSITY—the first head-to-head study of biologic therapies for moderate to severe ulcerative colitis.<sup>1,2</sup></p>
                            <p class="legal">For information related to adalimumab, please see www.abbvie.com.</p>
                            <p><a data-modal="external_third_party" data-animation="slide" href="https://www.nejm.org/doi/full/10.1056/NEJMoa1905725" class="btn btn-secondary" target="_blank" rel="noreferrer">Read Full Text</a></p>
                            <p class="isi-link"><a href="https://general.takedapharm.com/ENTYVIOPI" target="_blank" rel="noreferrer">See Entyvio full Prescribing&nbsp;Information</a></p>
                        </section>

                        <section>
                            <h2>The safety of vedolizumab for&nbsp;ulcerative&nbsp;colitis and Crohn's&nbsp;disease</h2>
                            <h3>Gut: An International Journal of Gastroenterology and Hepatology</h3>
                            <p>A study assessing the safety profile of vedolizumab in over 2800 patients over an extended period of time.<sup>3</sup></p>
                            <p><a data-modal="external_third_party" data-animation="slide" href="https://gut.bmj.com/content/66/5/839" class="btn btn-secondary" target="_blank" rel="noreferrer">Read Full Text</a></p>
                            <p class="isi-link"><a href="https://general.takedapharm.com/ENTYVIOPI" target="_blank" rel="noreferrer">See Entyvio full Prescribing&nbsp;Information</a></p>
                        </section>

                        <section>
                            <h2>Vedolizumab as induction and maintenance therapy for ulcerative colitis</h2>
                            <h3>The New England Journal of Medicine</h3>
                            <p>A study evaluating the efficacy and safety of vedolizumab in adult patients with moderately to severely active ulcerative colitis.<sup>4</sup></p>
                            <p><a data-modal="external_third_party" data-animation="slide" href="https://www.nejm.org/doi/full/10.1056/NEJMoa1215734" class="btn btn-secondary" target="_blank" rel="noreferrer">Read Full Text</a></p>
                            <p class="isi-link"><a href="https://general.takedapharm.com/ENTYVIOPI" target="_blank" rel="noreferrer">See Entyvio full Prescribing&nbsp;Information</a></p>
                        </section>

                        <section>
                            <h2>Long-term safety of vedolizumab therapy for inflammatory bowel disease</h2>
                            <h3>Alimentary Pharmacology &amp; Therapeutics</h3>
                            <p>A final analysis of the long‑term safety results of vedolizumab treatment of up to 7&nbsp;years in over 2200&nbsp;patients with moderate to severely active UC or&nbsp;CD.<sup>5</sup></p>
                            <p><a data-modal="external_third_party" data-animation="slide" href="https://compas.atheneum.co/weblink/d7f568de74e4942a0174e5bc075f00a7" class="btn btn-secondary" target="_blank" rel="noreferrer">Read Full Text</a></p>
                            <p class="isi-link"><a href="https://general.takedapharm.com/ENTYVIOPI" target="_blank" rel="noreferrer">See Entyvio full Prescribing&nbsp;Information</a></p>
                        </section>
                    </div>
                </div>
            </article>
        </div>
    </div>




                <!-- *********************** -->
                <!-- **** CODE ENDS **** *** -->
                <!-- *********************** -->
            </div>
<div id="isi">
                <aside class="section">
	<article>
		<button class="fixed_isi_trigger" aria-expanded="false" aria-controls="fixed_isi" aria-label="ISI Expand Button">
            <span></span>
        </button>
        <div class="isi-header">
            <h2>Important Safety Information</h2>
        </div>
		<ul>
			<li>ENTYVIO (vedolizumab) for injection is contraindicated in patients who have had a known serious or severe hypersensitivity reaction to ENTYVIO or any of its excipients.</li>

			<li>Infusion-related reactions and hypersensitivity reactions including anaphylaxis, dyspnea, bronchospasm, urticaria, flushing, rash, and increased blood pressure and heart rate have been reported. These reactions may occur with the first or subsequent infusions and may vary in their time of onset from during infusion or up to several hours post-infusion. If anaphylaxis or other serious infusion-related or hypersensitivity reactions occur, discontinue administration of ENTYVIO immediately and initiate appropriate treatment.</li>

			<li>Patients treated with ENTYVIO are at increased risk for developing infections. Serious infections have been reported in patients treated with ENTYVIO, including anal abscess, sepsis (some fatal), tuberculosis, salmonella sepsis, Listeria meningitis, giardiasis, and cytomegaloviral colitis. ENTYVIO is not recommended in patients with active, severe infections until the infections are controlled. Consider withholding ENTYVIO in patients who develop a severe infection while on treatment with ENTYVIO. Exercise caution in patients with a history of recurring severe infections. Consider screening for tuberculosis (TB) according to the local practice.</li>

			<li>Progressive multifocal leukoencephalopathy (PML), a rare and often fatal opportunistic infection of the central nervous system (CNS), has been reported with systemic immunosuppressants, including another integrin receptor antagonist. PML is caused by the John Cunningham (JC) virus and typically only occurs in patients who are immunocompromised. One case of PML in an ENTYVIO-treated patient with multiple contributory factors has been reported in the postmarketing setting (e.g., human immunodeficiency virus [HIV] infection with a CD4 count of 300 cells/mm<sup>3</sup> and prior and concomitant immunosuppression). Although unlikely, a risk of PML cannot be ruled out. Monitor patients for any new or worsening neurological signs or symptoms. Typical signs and symptoms associated with PML are diverse, progress over days to weeks, and include progressive weakness on one side of the body or clumsiness of limbs, disturbance of vision, and changes in thinking, memory, and orientation leading to confusion and personality changes. If PML is suspected, withhold dosing with ENTYVIO and refer to a neurologist; if confirmed, discontinue ENTYVIO dosing permanently.</li>

			<li>There have been reports of elevations of transaminase and/or bilirubin in patients receiving ENTYVIO. ENTYVIO should be discontinued in patients with jaundice or other evidence of significant liver injury.</li>

			<li>Prior to initiating treatment with ENTYVIO, all patients should be brought up to date with all immunizations according to current immunization guidelines. Patients receiving ENTYVIO may receive non-live vaccines and may receive live vaccines if the benefits outweigh the risks.</li>

			<li>Most common adverse reactions (incidence ≥3% and ≥1% higher than placebo): nasopharyngitis, headache, arthralgia, nausea, pyrexia, upper respiratory tract infection, fatigue, cough, bronchitis, influenza, back pain, rash, pruritus, sinusitis, oropharyngeal pain, and pain in extremities.</li>
		</ul>

		<h2>Indications</h2>
		<h3>Adult Ulcerative Colitis (UC)</h3>
		<p>ENTYVIO (vedolizumab) is indicated in adults for the treatment of moderately to severely active UC.</p>

		<h3>Adult Crohn's Disease (CD)</h3>
		<p>ENTYVIO (vedolizumab) is indicated in adults for the treatment of moderately to severely active CD.</p>

		<p>Please see <a href="https://general.takedapharm.com/ENTYVIOPI" target="_blank" rel="noreferrer">full Prescribing Information</a>, including <a href="https://general.takedapharm.com/ENTYVIOMG" target="_blank" rel="noreferrer">Medication Guide</a>.</p>
	</article>
</aside>

            </div>
