<div data-page-id="GeminiTrial" data-page-category="ClinicalEfficacy" class="page-content gemini-trial-content" >
  <div id="body" class="article gemini-trial-article">
    <div id="hero">
      <div>
        <picture>
          <source media="screen and (max-width: 959px)" srcset="{{ base_path ~ directory }}/images/mobile-gemini-varsity-ed.png">
          <source media="screen and (max-width: 9999px) and (min-width: 960px)" srcset="{{ base_path ~ directory }}/images/desktop-gemini-varsity-ed.png">
          <img src="{{ base_path ~ directory }}/images/hero/desktop-gemini-varsity-ed.png" alt="Patient.">
        </picture>
        <article>
          <div>
            <h1>
              GEMINI I<br>
              <strong>UC Trials <br class="special-breakpoint">I &amp; II</strong>
            </h1>
          </div>
          <div>
            <h2>Clinical <br>Response &amp; <br><strong>Long‐Term <br>Data</strong></h2>
          </div>
        </article>
        <picture>
          <source media="screen and (max-width: 959px)" srcset="{{ base_path ~ directory }}/images/mobile-gemini-i-varsity-dosing-tricia.png">
          <source media="screen and (max-width: 9999px) and (min-width: 960px)" srcset="{{ base_path ~ directory }}/images/desktop-gemini-i-varsity-dosing-tricia.png">
          <img src="{{ base_path ~ directory }}/images/desktop-gemini-i-varsity-dosing-tricia.png" alt="Healthcare professional.">
        </picture>
      </div>
    </div>
    <div id="first_section">
      <div id="indication_bar" class="close">
        <div>
          <div class="section">
            <h3>For adult patients with moderately to severely active UC or CD when other therapies have not worked well enough or cannot be&nbsp;tolerated.</h3>
          </div>
        </div>
      </div>
      <div>
        <article>
          <div id="overview-trial-data" class="overview-trial-data">
            <h2 class="border">OVERVIEW OF GEMINI&nbsp;I&nbsp;DATA</h2>
            <p class="subheading description-below">UC Trials I and II</p>
            <div class="container">
              <div class="flex-container" data-row="">
                <div class="half graph-1" data-col="mobile-12 desktop-6">
                  <p class="end-point-heading">Primary End Points</p>
                  <div class="tile">
                    <h3>
                      RAPID RESPONSE AT WEEK 6 AND <nobr>LONG-TERM</nobr> REMISSION AT <br class="special-breakpoint-3" data-only="desktop"> WEEK&nbsp;52<sup>1</sup>
                    </h3>
                    <div class="image-container side-by-side gemini">
                      <figure>
                        <picture>
                          <source media="screen and (max-width: 959px)" srcset="{{ base_path ~ directory }}/images/charts/mobile-gemini-clinical-remission.png">
                          <source media="screen and (max-width: 9999px) and (min-width: 960px)" srcset="{{ base_path ~ directory }}/images/charts/desktop-gemini-clinical-remission.png">
                          <img src="{{ base_path ~ directory }}/images/charts/mobile-gemini-clinical-remission.png" alt="Entyvio® (vedolizumab) ulcerative colitis clinical trial rapid response and long-term remission data." title="Entyvio® GEMINI I Study Data">
                        </picture>
                      </figure>
                    </div>
                  </div>
                </div>
                <div class="half graph-2 endoscopic-improvement" data-col="mobile-12 desktop-6">
                  <p class="end-point-heading">Secondary End Points</p>
                  <div class="tile">
                    <h3>
                        RATE OF VISIBLE MUCOSAL IMPROVEMENT AT WEEK 6 AND <br class="special-breakpoint-4" data-only="desktop">WEEK&nbsp;52<sup>1,2‡</sup>
                    </h3>
                    <div class="image-container side-by-side gemini">
                      <figure>
                        <picture>
                          <source media="screen and (max-width: 959px)" srcset="{{ base_path ~ directory }}/images/charts/mobile-gemini-endoscopic-improvement.png">
                          <source media="screen and (max-width: 9999px) and (min-width: 960px)" srcset="{{ base_path ~ directory }}/images/charts/desktop-gemini-endoscopic-improvement.png">
                          <img src="{{ base_path ~ directory }}/images/charts/mobile-gemini-endoscopic-improvement.png" alt="Entyvio® (vedolizumab) ulcerative colitis GEMINI I clinical trial rate of visible mucosal improvement data." title="Entyvio® GEMINI I Study Data">
                        </picture>
                      </figure>
                    </div>
                  </div>
                </div>

                <div class="full text-description">
                  <p class="end-point-description"><strong>Study Design:</strong> Two randomized, double‑blind, placebo‑controlled studies enrolled adult patients with moderately to severely active UC who had failed at least 1 conventional therapy, including corticosteroids or immunomodulators and/or ≥1 anti‑TNFα therapy.<sup>1,2</sup> In UC Trial I, patients were randomized (3:2) to receive Entyvio 300&nbsp;mg or placebo by intravenous infusion at Weeks 0 and 2. In UC Trial II, patients receiving Entyvio who demonstrated clinical response at Week 6 (from UC Trial I or an open-label cohort) were randomized (1:1:1) to receive either Entyvio 300&nbsp;mg every 8&nbsp;weeks, Entyvio 300&nbsp;mg every 4&nbsp;weeks, or placebo every 4&nbsp;weeks.<sup>1</sup> The Entyvio Q4W dosing regimen did not demonstrate additional clinical benefit over the Q8W dosing regimen. The Q4W dosing regimen is not the recommended dosing regimen.</p>
                </div>

                <div class="half graph-3" data-col="mobile-12 desktop-6">
                  <p class="end-point-heading">Secondary End Point</p>
                  <div class="tile last-tile">
                    <h3>CORTICOSTEROID-FREE CLINICAL REMISSION AT WEEK&nbsp;52<sup>1,2§</sup></h3>
                    <div class="image-container">
                      <figure>
                        <picture>
                          <source media="screen and (max-width: 959px)" srcset="{{ base_path ~ directory }}/images/charts/mobile-gemini-corticosteroid-free.png">
                          <source media="screen and (max-width: 9999px) and (min-width: 960px)" srcset="{{ base_path ~ directory }}/images/charts/desktop-gemini-corticosteroid-free.png">
                          <img src="{{ base_path ~ directory }}/images/charts/mobile-gemini-corticosteroid-free.png" class="solo chart-smaller" alt="Corticosteroid-free remission data in Entyvio® (vedolizumab) ulcerative colitis GEMINI I clinical trials." title="GEMINI I Study Data">
                        </picture>
                      </figure>
                    </div>
                  </div>
                </div>
                <div class="half button-and-footnotes" data-col="mobile-12 desktop-6">
                  <div class="btn-container">
                    <a href="#study-design" class="btn btn-secondary">VIEW FULL STUDY DESIGN</a>
                  </div>
                  <p class="footnote">
                    <span class="ref">*</span>
                    <span class="text">Clinical response = reduction in complete Mayo score of ≥3 points and ≥30% from baseline with an accompanying decrease in rectal bleeding subscore of ≥1 point or absolute rectal bleeding subscore of ≤1 point.</span>
                  </p>
                  <p class="footnote">
                    <span class="ref"><sup>†</sup></span>
                    <span class="text">Clinical remission = complete Mayo score of ≤2 points and no individual subscore&nbsp;&gt;1&nbsp;point.</span>
                  </p>
                  <p class="footnote">
                    <span class="ref"><sup>‡</sup></span>
                    <span class="text">Improvement of endoscopic appearance of the mucosa = Mayo endoscopy subscore of 0 (normal or inactive disease) or 1 (erythema, decreased vascular pattern, mild friability). </span>
                  </p>
                  <p class="footnote">
                    <span class="ref"><sup>§</sup></span>
                    <span class="text">Assessed in the subgroup of patients who were receiving corticosteroids at baseline and who were in clinical response at Week 6 (n=72 for placebo and n=70 for Entyvio Q8W). Corticosteroid-free clinical remission was defined as the proportion of patients in this subgroup who discontinued corticosteroids by Week 52 and were in clinical remission at Week&nbsp;52.</span>
                  </p>
                  <p class="footnote acronyms">
                    <span class="text">CI = confidence interval; Q4W = every 4 weeks; Q8W = every 8 weeks; TNFα = tumor necrosis factor alpha.</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
    <div id="isi">
      <aside class="section">
        <article>
          <button class="fixed_isi_trigger" aria-expanded="false" aria-controls="fixed_isi" aria-label="ISI Expand Button">
            <span></span>
          </button>
          <div class="isi-header">
            <h2>Important Safety Information</h2>
          </div>
          <ul>
            <li>ENTYVIO (vedolizumab) for injection is contraindicated in patients who have had a known serious or severe hypersensitivity reaction to ENTYVIO or any of its excipients.</li>

            <li>Infusion-related reactions and hypersensitivity reactions including anaphylaxis, dyspnea, bronchospasm, urticaria, flushing, rash, and increased blood pressure and heart rate have been reported. These reactions may occur with the first or subsequent infusions and may vary in their time of onset from during infusion or up to several hours post-infusion. If anaphylaxis or other serious infusion-related or hypersensitivity reactions occur, discontinue administration of ENTYVIO immediately and initiate appropriate treatment.</li>

            <li>Patients treated with ENTYVIO are at increased risk for developing infections. Serious infections have been reported in patients treated with ENTYVIO, including anal abscess, sepsis (some fatal), tuberculosis, salmonella sepsis, Listeria meningitis, giardiasis, and cytomegaloviral colitis. ENTYVIO is not recommended in patients with active, severe infections until the infections are controlled. Consider withholding ENTYVIO in patients who develop a severe infection while on treatment with ENTYVIO. Exercise caution in patients with a history of recurring severe infections. Consider screening for tuberculosis (TB) according to the local practice.</li>

            <li>Progressive multifocal leukoencephalopathy (PML), a rare and often fatal opportunistic infection of the central nervous system (CNS), has been reported with systemic immunosuppressants, including another integrin receptor antagonist. PML is caused by the John Cunningham (JC) virus and typically only occurs in patients who are immunocompromised. One case of PML in an ENTYVIO-treated patient with multiple contributory factors has been reported in the postmarketing setting (e.g., human immunodeficiency virus [HIV] infection with a CD4 count of 300 cells/mm<sup>3</sup> and prior and concomitant immunosuppression). Although unlikely, a risk of PML cannot be ruled out. Monitor patients for any new or worsening neurological signs or symptoms. Typical signs and symptoms associated with PML are diverse, progress over days to weeks, and include progressive weakness on one side of the body or clumsiness of limbs, disturbance of vision, and changes in thinking, memory, and orientation leading to confusion and personality changes. If PML is suspected, withhold dosing with ENTYVIO and refer to a neurologist; if confirmed, discontinue ENTYVIO dosing permanently.</li>

            <li>There have been reports of elevations of transaminase and/or bilirubin in patients receiving ENTYVIO. ENTYVIO should be discontinued in patients with jaundice or other evidence of significant liver injury.</li>

            <li>Prior to initiating treatment with ENTYVIO, all patients should be brought up to date with all immunizations according to current immunization guidelines. Patients receiving ENTYVIO may receive non-live vaccines and may receive live vaccines if the benefits outweigh the risks.</li>

            <li>Most common adverse reactions (incidence ≥3% and ≥1% higher than placebo): nasopharyngitis, headache, arthralgia, nausea, pyrexia, upper respiratory tract infection, fatigue, cough, bronchitis, influenza, back pain, rash, pruritus, sinusitis, oropharyngeal pain, and pain in extremities.</li>
          </ul>
          <h2>Indications</h2>
          <h3>Adult Ulcerative Colitis (UC)</h3>
          <p>ENTYVIO (vedolizumab) is indicated in adults for the treatment of moderately to severely active UC.</p>
          <h3>Adult Crohn's Disease (CD)</h3>
          <p>ENTYVIO (vedolizumab) is indicated in adults for the treatment of moderately to severely active CD.</p>
          <p>Please see <a href="https://general.takedapharm.com/ENTYVIOPI" target="_blank" rel="noreferrer">full Prescribing Information</a>, including <a href="https://general.takedapharm.com/ENTYVIOMG" target="_blank" rel="noreferrer">Medication Guide</a>.</p>
        </article>
      </aside>
    </div>
    <div id="references">
      <div class="section">
        <article>
          <h3>References:</h3>
          <ol>
            <li>Entyvio (vedolizumab) prescribing information. Takeda Pharmaceuticals.</li>
            <li>Feagan BG, Rutgeerts P, Sands BE, et al; for the GEMINI 1 Study Group. <em>N Engl J Med</em>. 2013;369(8):699-710.</li>
            <li>Data on file. Takeda Pharmaceuticals.</li>
          </ol>
        </article>
      </div>
    </div>
  </div>
</div>
