{{ attach_library('entyviohcp/local-coverage-styling') }}
<div id="__next" class="local-coverage-content">
	<div class="home-page">
		<div id="precision-content">
			<div class="spinner-wrapper">
				<div class="spinner-grow" role="status">
					<span class="sr-only">Loading...</span>
				</div>
			</div>
		</div>
		<div class="home-page__white">
			<div class="centered-container">
				<div class="text__block__wrapper"></div>
				<div class="BannerBlock_banner__block__wrapper__BmY7d"><img class="BannerBlock_banner__block__img__1gwxR" src="{{ base_path ~ directory }}/images/entyvio_connect_logo_2x.png" alt="Entyvio Connect"><div class="BannerBlock_banner__block__wrapper__columns__2cNW2">
						<div class="BannerBlock_banner__block__left__1_Uiu">
							<div class="BannerBlock_banner__block__box__1C8Fj">
								<span class="BannerBlock_banner__block__box__text__small__3zSmL typography_gothamBook typography_white">Your patients may be eligible to pay as little as
								</span>
								<span class="BannerBlock_banner__block__box__text__big__1oXGo typography_gothamBold typography_white">$5 per dose†‡</span>
							</div>
						</div>
						<div class="BannerBlock_banner__block__right__1SNza">
							<span class="BannerBlock_banner__block__text__3IOL9 typography_gothamBook typography_abbey">Learn more about our Co-Pay Program and other
								<em>EntyvioConnect</em>
								patient support services.</span>
							<a href="{{ base_path }}access-support/insurance-support" class="BannerBlock_banner__block__link__CprmQ typography_gothamBold typography_abbey">Visit
								<em>EntyvioConnect</em>
							</a>
						</div>
					</div>
				</div>
				<div class="text__block__wrapper">
					<div>
						<p class="typography_abbey typography_gothamMedium typography_p_margin">
							<sup>†</sup>The
							<em>EntyvioConnect</em>
							Co-Pay Program ("Co-Pay Program") provides financial support for commercially insured patients who qualify for the Co-Pay Program. The Co-Pay Program cannot be used if patient is a beneficiary of, or any part of the prescription is covered by: 1) any federal-, state-, or government-funded healthcare program (Medicare, Medicare Advantage, Medicaid, TRICARE, etc.), including a state pharmaceutical assistance program (the Federal Employees Health Benefit [FEHB] Program is not a government-funded healthcare program for the purpose of this offer), 2) the Medicare Prescription Drug Program (Part D), or if patient is currently in the coverage gap, or 3) insurance that is paying the entire cost of the prescription. Patient may not seek reimbursement from any other plan or program (Flexible Spending Account [FSA], Health Savings Account [HSA], Health Reimbursement Account [HRA], etc.) for any out-of-pocket costs covered by the Co-Pay Program. Patient or healthcare provider may be required to submit an Explanation of Benefits (EOB) following each infusion to the Co-Pay Program. Takeda reserves the right to change or  end the Co-Pay Program at any time without notice, and other terms and conditions may apply. Offer not valid for patients under 18 years of age. Assistance under the Co-Pay Program is not transferable. The Co-Pay Program only applies in the United States, including Puerto Rico and other U.S. territories, and does not apply where prohibited by law, taxed, or restricted. This does not constitute health insurance. Void where use is prohibited by your insurance provider. If your insurance situation changes you must notify
							<em>EntyvioConnect</em>
							at 1-844-368-9846. This offer is not transferable and is limited to one offer per person and may not be combined with any other coupon, discount, prescription savings card, rebate, free trial, patient assistance, or other offer. Not valid if reproduced.</p>
						<p class="typography_abbey typography_gothamMedium typography_p_margin">
							<sup>‡</sup>Your office is directly reimbursed for the remaining patient co-pay upon submission of an EOB from the patient’s primary insurance, up to a total of $20,000 per year.</p>
					</div>
				</div>
			</div>
		</div>
		<div id="precision-report" class="pdf-report hide">
			<div class="centered-container">
				<div class="content__header__wrapper home-page__purple">
					<h2 class="content_header typography_gothamBold">
						<span>[XX%]</span>
						of
						<span>[Channel]</span>
						Patients in Your Area Have
						<span>[Coverage Type]</span>
						to ENTYVIO after
						<span>[Coverage Details]</span>
					</h2>
				</div>
				<div class="report-content">
					<div class="chart-section">
						<h3 class="typography_purple typography_gothamBold typography_subtitle mb-lg-5 mb-4 ">Entyvio Coverage Overview</h3>
						<div id="4-chartdiv" data-covered="70" data-notcovered="30" data-plan="overall" class="chart chart-report"></div>
						<div class="coverage">
							<p class="pink typography_gothamBold">COVERED</p>
							<p class="coverage-percentage typography_gothamBold">[XX%]</p>
						</div>
						<div class="coverage">
							<p class="abbey typography_gothamBold">NOT COVERED</p>
							<p class="coverage-percentage typography_gothamBold">[XX%]</p>
						</div>
					</div>
					<div class="plan-section">
						<h3 class="typography_purple typography_gothamBold typography_subtitle text-center">Entyvio Coverage in Top Plans*</h3>
						<ul class="plan-list">
							<li>
								<ul class="plan-headers">
									<li>&nbsp;</li>
									<li class="typography_gothamBold">Plan Type</li>
									<li class="typography_gothamBold">Availability</li>
								</ul>
							</li>
							<li>
								<ul class="plan-details">
									<li class="typography_gothamBold">[Health plan]</li>
									<li class="typography_gothamBook">[Channel]</li>
									<li class="typography_gothamBook">[Formulary Coverage]</li>
								</ul>
							</li>
							<li>
								<ul class="plan-details">
									<li class="typography_gothamBold">[Health plan]</li>
									<li class="typography_gothamBook">[Channel]</li>
									<li class="typography_gothamBook">[Formulary Coverage]</li>
								</ul>
							</li>
							<li>
								<ul class="plan-details">
									<li class="typography_gothamBold">[Health plan]</li>
									<li class="typography_gothamBook">[Channel]</li>
									<li class="typography_gothamBook">[Formulary Coverage]</li>
								</ul>
							</li>
							<li>
								<ul class="plan-details">
									<li class="typography_gothamBold">[Health plan]</li>
									<li class="typography_gothamBook">[Channel]</li>
									<li class="typography_gothamBook">[Formulary Coverage]</li>
								</ul>
							</li>
							<li>
								<ul class="plan-details">
									<li class="typography_gothamBold">[Health plan]</li>
									<li class="typography_gothamBook">[Channel]</li>
									<li class="typography_gothamBook">[Formulary Coverage]</li>
								</ul>
							</li>
							<li>
								<ul class="plan-details">
									<li class="typography_gothamBold">[Health plan]</li>
									<li class="typography_gothamBook">[Channel]</li>
									<li class="typography_gothamBook">[Formulary Coverage]</li>
								</ul>
							</li>
							<li class="d-none">
								<ul class="plan-details">
									<li class="typography_gothamBold">[Health plan]</li>
									<li class="typography_gothamBook">[Channel]</li>
									<li class="typography_gothamBook">[Formulary Coverage]</li>
								</ul>
							</li>
							<li class="d-none">
								<ul class="plan-details">
									<li class="typography_gothamBold">[Health plan]</li>
									<li class="typography_gothamBook">[Channel]</li>
									<li class="typography_gothamBook">[Formulary Coverage]</li>
								</ul>
							</li>
							<li class="d-none">
								<ul class="plan-details">
									<li class="typography_gothamBold">[Health plan]</li>
									<li class="typography_gothamBook">[Channel]</li>
									<li class="typography_gothamBook">[Formulary Coverage]</li>
								</ul>
							</li>
							<li class="d-none">
								<ul class="plan-details">
									<li class="typography_gothamBold">[Health plan]</li>
									<li class="typography_gothamBook">[Channel]</li>
									<li class="typography_gothamBook">[Formulary Coverage]</li>
								</ul>
							</li>
						</ul>
						<p class="typography_abbey typography_gothamBook typography_p_margin">Formulary data are provided by Managed Markets Insights &amp; Technology, LLC, and are current as of [Month/Year]. Formulary status is subject to change without notice. Comparisons of formulary access and formulary coverage do not imply comparative safety, efficacy, or indications approved by the Food and Drug Administration.</p>
						<p class="typography_abbey typography_gothamBook typography_p_margin">Prior authorization may be required for patients. For full policy details, please visit health plan website.</p>
						<p class="typography_abbey typography_gothamBook typography_p_margin">Unrestricted=Entyvio is covered without any biologic step therapy requirements; Restricted=Use of Entyvio requires step therapy with one or more biologics; Not Covered=Entyvio is not reimbursed.</p>
						<p class="typography_abbey typography_gothamBook typography_p_margin">
							<sup>*</sup>
							Top plans shown based upon prescription volume in specified area.
						</p>
					</div>
				</div>
				<div class="isi-preview">
					<div class="isi-copy">
						<h3 class="isi-title typography_purple typography_gothamBold">Indications</h3>
						<span class="typography_abbey typography_gothamBold">Adult Ulcerative Colitis (UC)</span>
						<p class="typography_abbey">ENTYVIO (vedolizumab) is indicated in adults for the treatment of moderately to severely active UC.</p>
						<span class="typography_abbey typography_gothamBold">Adult Crohn's Disease (CD)</span>
						<p class="typography_abbey">ENTYVIO (vedolizumab) is indicated in adults for the treatment of moderately to severely active CD.</p>
						<h3 class="isi-title typography_purple typography_gothamBold">IMPORTANT SAFETY INFORMATION</h3>
						<ul class="report-list">
							<li>ENTYVIO (vedolizumab) for injection is contraindicated in patients who have had a known serious or severe hypersensitivity reaction to ENTYVIO or any of its excipients.
							</li>
						</ul>
					</div>
				</div>
				<div class="isi-container">
					<div class="isi">
						<h3 class="isi-title typography_purple typography_gothamBold">IMPORTANT SAFETY INFORMATION (continued)</h3>
						<ul class="report-list">
							<li>Infusion-related reactions and hypersensitivity reactions including anaphylaxis, dyspnea, bronchospasm, urticaria, flushing, rash, and increased blood pressure and heart rate have been reported. These reactions may occur with the first or subsequent infusions and may vary in their time of onset from during infusion or up to several hours post-infusion. If anaphylaxis or other serious infusion-related or hypersensitivity reactions occur, discontinue administration of ENTYVIO immediately and initiate appropriate treatment.</li>
							<li>Patients treated with ENTYVIO are at increased risk for developing infections. Serious infections have been reported in patients treated with ENTYVIO, including anal abscess, sepsis (some fatal), tuberculosis, salmonella sepsis, Listeria meningitis, giardiasis, and cytomegaloviral colitis. ENTYVIO is not recommended in patients with active, severe infections until the infections are controlled. Consider withholding ENTYVIO in patients who develop a severe infection while on treatment with ENTYVIO. Exercise caution in patients with a history of recurring severe infections. Consider screening for tuberculosis (TB) according to the local practice.</li>
							<li>Progressive multifocal leukoencephalopathy (PML), a rare and often fatal opportunistic infection of the central nervous system (CNS), has been reported with systemic immunosuppressants, including another integrin receptor antagonist. PML is caused by the John Cunningham (JC) virus and typically only occurs in patients who are immunocompromised. One case of PML in an ENTYVIO-treated patient with multiple contributory factors has been reported in the post marketing setting (e.g., human immunodeficiency virus [HIV] infection with a CD4 count of 300 cells/mm3 and prior and concomitant immunosuppression). Although unlikely, a risk of PML cannot be ruled out. Monitor patients for any new or worsening neurological signs or symptoms. Typical signs and symptoms associated with PML are diverse, progress over days to weeks, and include progressive weakness on one side of the body or clumsiness of limbs, disturbance of vision, and changes in thinking, memory, and orientation leading to confusion and personality changes. If PML is suspected, withhold dosing with ENTYVIO and refer to a neurologist; if confirmed, discontinue ENTYVIO dosing permanently.</li>
							<li>There have been reports of elevations of transaminase and/or bilirubin in patients receiving ENTYVIO. ENTYVIO should be discontinued in patients with jaundice or other evidence of significant liver injury.</li>
							<li>Prior to initiating treatment with ENTYVIO, all patients should be brought up to date with all immunizations according to current immunization guidelines. Patients receiving ENTYVIO may receive non-live vaccines and may receive live vaccines if the benefits outweigh the risks.</li>
							<li>Most common adverse reactions (incidence ≥3% and ≥1% higher than placebo): nasopharyngitis, headache, arthralgia, nausea, pyrexia, upper respiratory tract infection, fatigue, cough, bronchitis, influenza, back pain, rash, pruritus, sinusitis, oropharyngeal pain, and pain in extremities.</li>
						</ul>
						<p class="typography_abbey typography_gothamBook">Please see accompanying full Prescribing Information, including Medication Guide.</p>
						<div class="isi-footer">
							<img class="takeda-logo" src="{{ base_path ~ directory }}/images/takeda-logo-2x.png" alt="logo-takeda">
							<div class="isi-footer-content">
								<p class="typography_abbey typography_gothamBook">ENTYVIO is a trademark of Millennium Pharmaceuticals, Inc., registered with the U.S. Patent and Trademark Office and is used under license by Takeda Pharmaceuticals America, Inc. All other trademarks are the property of their respective owners.</p>
								<div class="footnote">
									<p class="typography_abbey typography_gothamBook">©2021 Takeda Pharmaceuticals U.S.A., INC.<br><br>
										This site is intended for use by U.S. residents only.</p>
									<p class="typography_abbey typography_gothamBook">US-VED-0608v2.0 06/21</p>
								</div>
							</div>
						</div>
						<div class="entyvio-logo-wrapper">
							<img class="entyvio-logo" src="{{ base_path ~ directory }}/images/entyvio-logo-color-2x.png" alt="logo-entyvio">
						</div>
					</div>
					<span class="page typography_gothamBook"></span>
				</div>
			</div>
		</div>
		<div class="centered-container">
			<img class="print-report"></div>
		<section class="ISI_isi-wrapper__3e7bJ">
			<div id="isi-sticky" class="ISI_sticky-wrapper__2WTqW ISI_hide__2t8Am">
				<button type="button" class="">+</button>
				<div class="centered-container">
					<h3>Important Safety Information</h3>
					<ul class="ISI_isi-wrapper--list__3YZDa">
						<li>
							<p class="">ENTYVIO (vedolizumab) for injection is contraindicated in patients who have had a known serious or severe hypersensitivity reaction to ENTYVIO or any of its excipients.</p>
						</li>
					</ul>
					<div class="ISI_title-container__RHL4Y"></div>
				</div>
			</div>
			<div id="isi-persistent">
				<div class="main-wrapper">
					<div class="centered-container">
						<h3>Important Safety Information</h3>
						<ul class="ISI_isi-wrapper--list__3YZDa">
							<li>
								<p class="">ENTYVIO (vedolizumab) for injection is contraindicated in patients who have had a known serious or severe hypersensitivity reaction to ENTYVIO or any of its excipients.</p>
							</li>
							<li>
								<p class="">Infusion-related reactions and hypersensitivity reactions including anaphylaxis, dyspnea, bronchospasm, urticaria, flushing, rash, and increased blood pressure and heart rate have been reported. These reactions may occur with the first or subsequent infusions and may vary in their time of onset from during infusion or up to several hours post-infusion. If anaphylaxis or other serious infusion-related or hypersensitivity reactions occur, discontinue administration of ENTYVIO immediately and initiate appropriate treatment.</p>
							</li>
							<li>
								<p class="">Patients treated with ENTYVIO are at increased risk for developing infections. Serious infections have been reported in patients treated with ENTYVIO, including anal abscess, sepsis (some fatal), tuberculosis, salmonella sepsis, Listeria meningitis, giardiasis, and cytomegaloviral colitis. ENTYVIO is not recommended in patients with active, severe infections until the infections are controlled. Consider withholding ENTYVIO in patients who develop a severe infection while on treatment with ENTYVIO. Exercise caution in patients with a history of recurring severe infections. Consider screening for tuberculosis (TB) according to the local practice.</p>
							</li>
							<li>
								<p class="">Progressive multifocal leukoencephalopathy (PML), a rare and often fatal opportunistic infection of the central nervous system (CNS), has been reported with systemic immunosuppressants, including another integrin receptor antagonist. PML is caused by the John Cunningham (JC) virus and typically only occurs in patients who are immunocompromised. One case of PML in an ENTYVIO-treated patient with multiple contributory factors has been reported in the post marketing setting (e.g., human immunodeficiency virus [HIV] infection with a CD4 count of 300 cells/mm<sup>3</sup>
									and prior and concomitant immunosuppression). Although unlikely, a risk of PML cannot be ruled out. Monitor patients for any new or worsening neurological signs or symptoms. Typical signs and symptoms associated with PML are diverse, progress over days to weeks, and include progressive weakness on one side of the body or clumsiness of limbs, disturbance of vision, and changes in thinking, memory, and orientation leading to confusion and personality changes. If PML is suspected, withhold dosing with ENTYVIO and refer to a neurologist; if confirmed, discontinue ENTYVIO dosing permanently.</p>
							</li>
							<li>
								<p class="">There have been reports of elevations of transaminase and/or bilirubin in patients receiving ENTYVIO. ENTYVIO should be discontinued in patients with jaundice or other evidence of significant liver injury.</p>
							</li>
							<li>
								<p class="">Prior to initiating treatment with ENTYVIO, all patients should be brought up to date with all immunizations according to current immunization guidelines. Patients receiving ENTYVIO may receive non-live vaccines and may receive live vaccines if the benefits outweigh the risks.</p>
							</li>
							<li>
								<p class="ISI_no-margin--bottom__24QJ6">Most common adverse reactions (incidence ≥3% and ≥1% higher than placebo): nasopharyngitis, headache, arthralgia, nausea, pyrexia, upper respiratory tract infection, fatigue, cough, bronchitis, influenza, back pain, rash, pruritus, sinusitis, oropharyngeal pain, and pain in extremities.</p>
							</li>
						</ul>
						<div class="ISI_isi-wrapper--indications__i-7iO">
							<h3 class="ISI_margin-top--30__l7mR1">Indications</h3>
							<span>Adult Ulcerative Colitis (UC)</span>
							<p>ENTYVIO (vedolizumab) is indicated in adults for the treatment of moderately to severely active UC.</p>
							<span>Adult Crohn's Disease (CD)</span>
							<p>ENTYVIO (vedolizumab) is indicated in adults for the treatment of moderately to severely active CD.</p>
							<p>Please see full
								<a href="https://general.takedapharm.com/ENTYVIOPI" target="_blank">Prescribing Information</a>, including
								<a href="https://general.takedapharm.com/ENTYVIOMG" target="_blank">Medication Guide</a>.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<footer class="Footer_footer-wrapper__1vjLM">
			<div class="Footer_footer-container__dK7GO">
				<div class="Footer_inner-wrapper__1fQ7d">
					<div class="Footer_logo-container__27F-f">
						<a href="https://www.takeda.com" target="_blank"><img src="{{ base_path ~ directory }}/images/takeda-logo-2x.png" alt="logo-takeda"></a>
					</div>
					<div class="Footer_copy-container__1CQn2 Footer_margin-left--40__AaY4L">
						<div>
							<ul class="Footer_inner-wrapper--menu__yBkLj Footer_no-margin--bottom__24gNb">
								<li>
									<a href="https://www.takeda.com/en-us/terms-of-use" target="_blank">Terms of Use</a>
								</li>
								<li>
									<a href="https://www.takeda.com/privacy-notice/" target="_blank">Privacy Notice</a>
								</li>
								<li>
									<a href="https://www.takeda.com/en-us/who-we-are/contact-us" target="_blank">Contact Us</a>
								</li>
								<li>
									<a href="https://www.takedahcp.com/unsubscribe/enrx" target="_blank">Unsubscribe</a>
								</li>
								<li>
									<a href="https://www.takedahcp.com" target="_blank">Professional Support</a>
								</li>
								<li>
									<a href="https://www.takedamedconnect.com/s/?language=en_US" target="_blank">Medical Information</a>
								</li>
							</ul>
						</div>
						<div class="Footer_margin-top--15__1bXDk">
							<p class="Footer_no-margin--bottom__24gNb">ENTYVIO is a trademark of Millennium Pharmaceuticals, Inc., registered with the U.S. Patent and Trademark Office and is used under license by Takeda Pharmaceuticals America, Inc. All other trademarks are the property of their respective owners.</p>
						</div>
						<div class="Footer_two-columns__WqvYg Footer_margin-top--15__1bXDk">
							<div>
								<p class="Footer_no-margin--bottom__24gNb">©2021 Takeda Pharmaceuticals U.S.A., INC</p>
								<p class="Footer_no-margin--bottom__24gNb">This site is intended for use by U.S. residents only.</p>
							</div>
							<div>
								<span>US-VED-0608v2.0  06/21</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://cdn.pullthrough.tools/CommercialSite/js/PFV.js?rev=1.0.5"></script>
	<script>

    if($('.ISI_isi-wrapper__3e7bJ').length){
      $('.ISI_isi-wrapper__3e7bJ #isi-sticky>button').on("click", function() {
        $('html, body').animate({
          scrollTop: $(".ISI_isi-wrapper__3e7bJ").offset().top - 270
        }, 800);
      });
    }

		PFV.Init("gELyAAj4qzerD6WJ", "PROD", function () {
      PFV.Geolocate(function () { // PFV.LoadView("#precision-content", 'index', PropertyBagManager.Create(['75200']), function () { Test a specific zipcode at the first load. PFV.////Geolocate function must be commented.

        PFV.LoadView("#precision-content", 'index', function () { // Add Listener
          window.addEventListener('scroll', this.getWindowDimensions)
          window.addEventListener('resize', this.getWindowDimensions)
          window.addEventListener('load', this.getWindowDimensions)

          // Prevent Default over anchor tabs
          $('#precision-content').on('.menu-container--menu-tabs li a', 'click', function (e) {
            e.preventDefault()
          })
        })
      })
    });
	</script>
</div>
